Body {
  background-color: #ffeac9;
}

h1 {
  color: #1e6f5c;
  text-align: center;
}

h2 {
  color: #289672;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h5 {
  color: #1e6f5c;
}
p {
  color: #29bb89;
}
